config SENSORS_LIS3DH
        tristate "LIS3DH accelemetor support"
        default n
        depends on I2C
        ---help---
          If you say yes here you get support for LIS3DH

config SENSORS_BMA222E
        tristate "BMA222E support"
        default n
        depends on I2C
        ---help---
          If you say yes here you get support for BMA222E

config SENSORS_KIONIX_ACCEL
        tristate "KIONIX accelerometer support"
        default n
        depends on I2C
        ---help---
          If you say yes here you get support for the Kionix digital 3-axis accelerometer

config SENSORS_MC3XXX
        tristate "MC3XXX accelerometer support"
        default n
	select INPUT_POLLDEV
        depends on I2C
        ---help---
          If you say yes here you get support for the Kionix digital 3-axis accelerometer

config SENSORS_MMA8X5X
        tristate "freescale accelerometer support"
        default n
        select INPUT_POLLDEV
        depends on I2C
        ---help---
          If you say yes here you get support for the freescale mma8x5x 3-axis accelerometer

config SENSORS_ST480
        tristate "ST480 Magnetic Sensor support"
        default n
        depends on I2C
        ---help---
          If you say yes here you get support for ST480
          
config SENSORS_HSCDTD007A
        tristate "HSCDTD007A Magnetic Sensor support"
        default n
        depends on I2C
        ---help---
          If you say yes here you get support for ST480

config SENSORS_L3GD20
        tristate "L3GD20 gyroscope Sensor support"
        default n
        depends on I2C
        ---help---
          If you say yes here you get support for L3GD20

config SENSORS_AK09911
	tristate "AK09911 compass support"
	default n
	depends on I2C
        ---help---
	  If you say yes here you get support for Asahi Kasei's
	  orientation sensor AK09911.

config SENSORS_LSM330
        tristate "LSM330 ACC GYR support"
        default n
        depends on I2C
        ---help---
          If you say yes here you get support for LSM330

config SENSORS_INV_MPU6880
        tristate "INV ACC GYR support"
        default n
        depends on I2C
        ---help---
          If you say yes here you get support for INV
          
config SENSORS_XYZ
        tristate "Gsensor Direction config"
        default n
        ---help---
          If you say yes here XYZ direction is support
config SENSORS_YXZ
        tristate "Gsensor Direction config"
        default n
        ---help---
          If you say yes here YXZ direction is support
config SENSORS_IOO
        tristate "Gsensor Direction config"
        default n
        ---help---
          If you say yes here 100 direction is support
config SENSORS_IOI
        tristate "Gsensor Direction config"
        default n
        ---help---
          If you say yes here 101 direction is support
	  
source "arch/arm/plat-lc/drivers/sensor/light_prox/Kconfig"
source "arch/arm/plat-lc/drivers/sensor/compass_alps/Kconfig"
source "arch/arm/plat-lc/drivers/sensor/mmc3416x/Kconfig"
source "arch/arm/plat-lc/drivers/sensor/mir3da/Kconfig"
source "arch/arm/plat-lc/drivers/sensor/iio/Kconfig"
source "arch/arm/plat-lc/drivers/sensor/qst/Kconfig"
