#
# Touchscreen driver configuration
#
menu "Select Touchscreen Panel"

config TOUCHSCREEN_FT5X06
        tristate "FT5X06 based touchscreens"
        depends on I2C
        help
          Say Y here if you have a FT5X06 based touchscreen.

          If unsure, say N.

          To compile this driver as a module, choose M here: the
          module will be called ft5x06.

config TOUCHSCREEN_FT5336_AUTO_UPG
        tristate "FT5336 upgrade touchscreen firmware"
        depends on I2C
        help
          Say Y here if you choose upgrade touchscreen firmware.

          If unsure, say N.

config TOUCHSCREEN_FT5316_AUTO_UPG
        tristate "FT5316 upgrade touchscreen firmware"
        depends on I2C
        help
          Say Y here if you choose upgrade touchscreen firmware.

          If unsure, say N.

config TOUCHSCREEN_FT5406_AUTO_UPG
        tristate "FT5406 upgrade touchscreen firmware"
        depends on I2C
        help
          Say Y here if you choose upgrade touchscreen firmware.

          If unsure, say N.

config TOUCHSCREEN_FT6206_AUTO_UPG
        tristate "FT6206 upgrade touchscreen firmware"
        depends on I2C
        help
          Say Y here if you choose upgrade touchscreen firmware.

          If unsure, say N.

config TOUCHSCREEN_EDT_FT5X06
	tristate "EDT FocalTech FT5x06 I2C Touchscreen support"
	depends on I2C
	help
	  Say Y here if you have an EDT "Polytouch" touchscreen based
	  on the FocalTech FT5x06 family of controllers connected to
	  your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called edt-ft5x06.
config TOUCHSCREEN_FTS_PROXIMITY
	tristate "FocalTech FT6x06 I2C Touchscreen proximity support"
	depends on TOUCHSCREEN_FT5X06
	help
	  Say Y here if you want FT6x06 I2C Touchscreen proximity support.

	  If unsure, say N.

config TOUCHSCREEN_ZET62XX
        tristate "ZET62XX I2C Touchscreen support"
        depends on I2C
        help
          Say Y here if you want ZET62XX I2C Touchscreen proximity support.

          If unsure, say N.

config TOUCHSCREEN_ZET62XX_PROXIMITY
	tristate "ZET62XX I2C Touchscreen proximity support"
	depends on TOUCHSCREEN_ZET62XX
	help
	  Say Y here if you want ZET62XX I2C Touchscreen proximity support.

	  If unsure, say N.


config TOUCHSCREEN_GT9XX
        tristate "GT9XX based touchscreens"
        depends on I2C
        help
          Say Y here if you have a GT9xx based touchscreen.

          If unsure, say N.

          To compile this driver as a module, choose M here: the
          module will be called gt9xx.

config TOUCHSCREEN_ICN8528F
        tristate "ICN8528F based touchscreens"
        depends on I2C
        help
          Say Y here if you have a ICN8528F based touchscreen.

          If unsure, say N.

          To compile this driver as a module, choose M here: the
          module will be called ICN8528F.

config TOUCHSCREEN_S2716
        tristate "SYNAPTICS  based touchscreens"
        depends on I2C
        help
          Say Y here if you have a SYNAPTICS based touchscreen.

          If unsure, say N.

          To compile this driver as a module, choose M here: the
          module will be called SYNAPTICS2716

config TOUCHSCREEN_BF686x
        tristate "BF686x based touchscreens"
        depends on I2C
        help
          Say Y here if you have a BF686x based touchscreen.

          If unsure, say N.

          To compile this driver as a module, choose M here: the
          module will be called BF686x.

config TOUCHSCREEN_BF67xx
        tristate "BF67xx based touchscreens"
        depends on I2C
        help
          Say Y here if you have a BF67xx based touchscreen.

          If unsure, say N.

          To compile this driver as a module, choose M here: the
          module will be called BF67xx.

 config TOUCHSCREEN_BF675x
        tristate "BF675x based touchscreens"
        depends on I2C
        help
          Say Y here if you have a BF675x based touchscreen.

          If unsure, say N.

          To compile this driver as a module, choose M here: the
          module will be called BF675x.

config TOUCHSCREEN_MELFAS_MMS438
        tristate "MELFAS MMS438 Touchscreen"
        depends on I2C
        help
          Say Y here if you have a MELFAS MMS438 touchscreen device in your system.

          If unsure, say N.

          To compile this driver as a module, choose M here: the module will be called mms_ts.

config TOUCHSCREEN_MELFAS_MMS200
        tristate "MELFAS MMS200 Touchscreen"
        depends on I2C
        help
          Say Y here if you have a MELFAS MMS438 touchscreen device in your system.

          If unsure, say N.

          To compile this driver as a module, choose M here: the module will be called mms_ts.

endmenu
