#
# led drivers configuration
#

comment "LED drivers"

config LEDS_AW2013
       tristate "LED driver for AW2013 RGB LED"
       depends on LEDS_CLASS
       depends on I2C
       select LEDS_TRIGGERS
       help
       This option enables support for AW2013 RGB LED driver chips
       accessed via the I2C bus.
